@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
body{
    font-family: "Nunito Sans", sans-serif;
    background: #180118de;
    color: #fff;
}
section{
    padding: 2rem 9%;
}
.hero{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#180118de, #500e50de), url(../img/hero.png);
    background-position: center;    
    background-size: cover;
    position: relative;    
}
.hero h1{
    font-family: "Emilys Candy", serif;
    font-size: 4rem;
}
.hero p{
    font-size: 2rem;
}
.hero table {
    margin: 1rem 0;
    padding: 1.4rem;
    border-radius: .5rem;
    text-align: center;
    font-size: 2rem;
    
}
.hero table tr th{
    color: #fff;
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #500e50de;
    background: #6107616b;
}
.hero table tr td{    
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #500e50de;
}
header{
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #500e50de;
}
header h1{
    font-family: "Emilys Candy", serif;
}
header nav a{
    font-size: 2rem; 
    text-align: center;   
    color: #fff;
    padding: 0 1.5rem;
    background: #500e50de;
}